In [1]:
# Lecture notes - https://colab.research.google.com/drive/1wXC1RBuflCr24vZGmSr8DoxBYn6sTvxh?usp=sharing

In [2]:
import pandas as pd
import numpy as np

## Read CSV with setindex

In [33]:
df_dir=pd.read_csv(r"C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.11_pandas_3\directors.csv",index_col=0)
df_mov=pd.read_csv(r"C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.11_pandas_3\movies.csv",index_col=0)

# Feature exploration

In [ ]:
# info, deacribe, describe with include objects

df_mov.info()
# df_mov.describe()
# df_mov.describe(include=object) # include=Object gives results for only non numeric fields
df_mov.describe(include="all") # include=Object gives results for all fields

<class 'pandas.core.frame.DataFrame'>
Index: 1465 entries, 0 to 4768
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1465 non-null   int64
 1   budget        1465 non-null   int64
 2   popularity    1465 non-null   int64
 3   revenue       1465 non-null   int64
 4   title         1465 non-null   object
 5   vote_average  1465 non-null   float64
 6   vote_count    1465 non-null   int64
 7   director_id   1465 non-null   int64
 8   year          1465 non-null   int64
 9   month         1465 non-null   object
 10  day           1465 non-null   object
dtypes: float64(1), int64(7), object(3)
memory usage: 137.3+ KB

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
count,1465.000000,1.465000e+03,1465.000000,1.465000e+03,1465,1465.000000,1465.000000,1465.000000,1465.000000,1465,1465
unique,NaN,NaN,NaN,NaN,1465,NaN,NaN,NaN,NaN,12,7
top,NaN,NaN,NaN,NaN,El Mariachi,NaN,NaN,NaN,NaN,Dec,Friday
freq,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,193,654
mean,45225.191126,4.802295e+07,30.855973,1.432539e+08,NaN,6.368191,1146.396587,5040.192491,2002.615017,NaN,NaN
std,1189.096396,4.935541e+07,34.845214,2.064918e+08,NaN,0.818033,1578.077438,258.059631,8.680141,NaN,NaN
min,43597.000000,0.000000e+00,0.000000,0.000000e+00,NaN,3.000000,1.000000,4762.000000,1976.000000,NaN,NaN
25%,44236.000000,1.400000e+07,11.000000,1.738013e+07,NaN,5.900000,216.000000,4845.000000,1998.000000,NaN,NaN
50%,45022.000000,3.300000e+07,23.000000,7.578164e+07,NaN,6.400000,571.000000,4964.000000,2004.000000,NaN,NaN
75%,45990.000000,6.600000e+07,41.000000,1.792469e+08,NaN,6.900000,1387.000000,5179.000000,2009.000000,NaN,NaN
max,48395.000000,3.800000e+08,724.000000,2.787965e+09,NaN,8.300000,13752.000000,6204.000000,2016.000000,NaN,NaN

# Filtering and sorting

In [ ]:
# Always normal flitering

df_mov[df_mov['year']>2010]

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
13,43610,255000000,49,89289910,The Lone Ranger,5.9,2311,4763,2013,Jul,Wednesday
14,43611,225000000,99,662845518,Man of Steel,6.5,6359,4771,2013,Jun,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...
4280,47886,0,4,0,Da Sweet Blood of Jesus,4.1,13,5195,2014,Jun,Sunday
4455,48068,0,5,0,Kevin Hart: Laugh at My Pain,7.7,43,4894,2011,Sep,Friday
4532,48146,0,10,316472,Good Kill,5.9,208,5226,2015,Apr,Thursday
4540,48155,0,0,0,Alleluia! The Devil's Carnival,6.0,2,6056,2016,Mar,Tuesday
4621,48244,250000,6,56825,The Canyons,4.1,75,5970,2013,Jul,Monday

In [23]:
# Sorting for one and multiple columns

df_mov_sort_1=df_mov.sort_values(by=['year','month'],ascending=[True,False])
df_mov_sort_2=df_mov.sort_values(by=['year','month'])

# .apply

## on each cell

In [ ]:
def encode(data):
    if data=="Male":
        return 0
    else:
        return 1

df_dir['gender_2']=df_dir['gender'].apply(encode)

## on series - note axis is available for .apply() as well

In [34]:
df_mov[["revenue", "budget"]].apply(np.sum)
df_mov[["revenue", "budget"]].apply(np.sum,axis=1)

0       3024965087
1       1261000000
2       1125674609
3       1334939099
5       1148871626
           ...
4736        321952
4743       3178130
4748             0
4749             0
4768       2260920
Length: 1465, dtype: int64

In [42]:
# Profit using apply

def prof(x):
    return x['revenue']-x['budget']

df_mov['profit_2']=df_mov.apply(prof,axis=1)
df_mov['profit']=df_mov[['revenue','budget']].apply(prof,axis=1)

# Aggregation

## Value_counts - distribution

In [4]:
df_mer=df_mov.merge(df_dir,how='left',left_on='director_id',right_on="id")
df_mer['director_name'].value_counts()

director_name
Steven Spielberg       26
Martin Scorsese        19
Clint Eastwood         19
Woody Allen            18
Spike Lee              16
                       ..
Mike Leigh              5
Brad Anderson           5
Michael Polish          5
Darren Lynn Bousman     5
Nicole Holofcener       5
Name: count, Length: 199, dtype: int64

## Count with condition

In [53]:
df_mer[df_mer['director_name']=="Christopher Nolan"]['title'].count()

np.int64(8)

## Group by

In [37]:
dir_group=df_mer.groupby('director_name')

### Ngroups

In [95]:
dir_group.ngroups

199

### Groups - shows how group works by storing indices

In [96]:
print(dir_group.groups)

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro González Iñárritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

### aggregations against group by

In [38]:
# dir_group['title'].count()
dir_group['year'].aggregate(['min','max','count']).sort_values(by='count',ascending=False)

                   min   max  count
director_name
Steven Spielberg  1977  2016     26
Martin Scorsese   1976  2013     19
Clint Eastwood    1982  2014     19
Woody Allen       1977  2013     18
Robert Rodriguez  1992  2014     16
...                ...   ...    ...
Stephen Daldry    2000  2014      5
Tom Tykwer        1998  2012      5
Tim Hill          1999  2011      5
Uwe Boll          2005  2013      5
Wayne Wang        1999  2011      5

[199 rows x 3 columns]

### group based filtering

In [34]:
# filter for directors with max greater than 100M

df_mer=df_mov.merge(df_dir,how='left',left_on='director_id',right_on="id")
df_mer['budget']=df_mer['budget']/1000000
df_dir=df_mer.groupby('director_name')['budget'].max().reset_index()
df_dir_max=df_dir[df_dir['budget']>=100]
df_filtered=df_mer[df_mer['director_name'].isin(df_dir_max['director_name'])]

In [35]:
df_filtered

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237.00,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300.00,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245.00,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250.00,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258.00,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,0.40,33,100000000,Mad Max,6.6,1213,4845,1979,Apr,Thursday,George Miller,4845,Male
1451,48268,0.20,13,4505922,Swingers,6.8,253,4813,1996,Oct,Friday,Doug Liman,4813,Male
1452,48274,0.00,5,2611555,Three,6.3,31,4936,2010,Dec,Thursday,Tom Tykwer,4936,Male
1458,48335,0.06,27,3221152,Pi,7.1,586,4881,1998,Jul,Friday,Darren Aronofsky,4881,Male
1460,48363,0.00,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,4809,Male

In [5]:
df_mer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_x           1465 non-null   int64
 1   budget         1465 non-null   int64
 2   popularity     1465 non-null   int64
 3   revenue        1465 non-null   int64
 4   title          1465 non-null   object
 5   vote_average   1465 non-null   float64
 6   vote_count     1465 non-null   int64
 7   director_id    1465 non-null   int64
 8   year           1465 non-null   int64
 9   month          1465 non-null   object
 10  day            1465 non-null   object
 11  director_name  1465 non-null   object
 12  id_y           1465 non-null   int64
 13  gender         1341 non-null   object
dtypes: float64(1), int64(8), object(5)
memory usage: 160.4+ KB